.UserProfile {
  border-right: 1px solid rgba(204, 204, 204, 0.2);
  min-height: 100vh;

  @media (max-width: 700px) {
    width: 100%;
  }
  &_Header {
    padding: 0.8rem;
    display: flex;
    align-items: center;
    &_Arrow {
      margin-right: 1rem;
    }

    &_Info {
    }
  }
}

.Border {
  border-bottom: 1px solid rgba(204, 204, 204, 0.2);
}

.Spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(204, 204, 204, 0.2);
  min-height: 100vh;
}
